(JG) 3.a Optional request message

Section 6 “REST”
I don’t agree with “When the semantics of a resource URL and HTTP method do not require a request message, the use of a request message MUST be optional”, based on the approach that I’ve discussed of having an RPP transport and a JSON packet protocol leveraging the EPP extensibility analysis recommendations.  I don’t believe the requirements is the time to make the approach decision, so this requirement could be softened to a MAY to put this discussion off for later.  

I think JG is thinking about developing a "packet protocol" which includes request and response messages for all command/functions, in order for the protocol to be potentially be used on top of other transports protocols also.

this would be more like how EPP is designed, while RPP is  going to leverage a RESTful architectural style on top of HTTP and this means the protocol layer (packets) and the transport (HTTP) and architectural style (REST) are going to be somewhat merged to form a final API.

where is is no longer possible to identify a packet protocol that can potentially be lifted out of RPP and can be used together with a separate transport.

 


Duplicate of:

https://github.com/ietf-wg-rpp/rpp-requirements/issues/53



This discussion shall be of interest of @rpp-ietf.

Because RPP will be based on HTTP using a RESTful style, for some requests (e.g. check/info) the request semantics can be expressed by using a combination of:

- URL
- HTTP Headers
- HTTP Method

For some transactions this eliminates the need for including a message body, this has many benefits such as (but not limited to) 
- Makes the API easier to implement for registars
- Improves user friendliness
- Better performance (no message parsing/marshalling/compression/io)
- Uses existing best practices for RESTful APIs

This conflicts with what i think JG is using as a model, where  RPP is a protocol more similar to EPP where there exists a req/resp message definition for every transaction type and this protocol can be then layered ontop of any protocol, such as HTTP.

[James Gould (3a)](https://mailarchive.ietf.org/arch/msg/rpp/KrIW3A21jb0GQz32LMV-dWRV2tk)

This runs into issues when using the RESTful style, where the upper protocol may become merged into the HTTP layer (using the URL, HTTP headers and method)







> Because RPP will be based on HTTP using a RESTful style, for some requests (e.g. check/info) the request semantics can be expressed by using a combination of:
> 
> * URL
> * HTTP Headers
> * HTTP Method

Important to mention is that HEAD, GET and DELETE have no generally defined semantics for received content [RFC 9110 9.3.5.](https://www.rfc-editor.org/rfc/rfc9110.html#section-9.3.5) resulting in practical interoperability issues if used, meaning that these methods would not be allowed to be used if we didn't have this requirement. Usage of uniform HTTP interface is at the core of RESTful design and required by the maturity level 2.

> Please describe how RPP would handle EPP extensions like the following that include complex content in the request and the use of URL, HTTP Header, and HTTP Method will not work or will not work cleanly:
> 1. Registry Fee Extension in RFC 8748
> 2. Launch Phase Extension in RFC 8334

This is indeed a design decision. In case of those two http query parameters look to me as perfectly valid options

> I’m not proposing to use the HEAD HTTP Method in the mapping for a Check Command, but to leverage the new QUERY Method being defined in draft-ietf-httpbis-safe-method-w-body by the HTTPBIS working group.

This one should remain on the table and the requirement does not exclude it. 

> The language in RFC 9110 for DELETE reads “A client SHOULD NOT generate content in a DELETE request unless it is made directly to an origin server that has previously indicated, in or out of band, that such a request has a purpose and will be adequately supported.”. In the case of RPP, the request is being made directly to the origin server, the request has a purpose, and the request would be supported based on the RPP Transport definition. 

Here I would not agree, as such non-standard usage of DELETE (or GET) would have very hard implications on implementers. Many frameworks just strip down body of DELETE or GET. Middle boxes (API gateways etc.) may be doing the same. 
Example from ADO.NET: "If a DELETE request includes an entity body, the body is ignored and the request is treated as if no entity body were provided."

> You are helping my point that this is a solution space item and should be left out of the requirements. Support for a packet protocol on top of a REST transport layer would be fully compliant with maturity level 2.

Right now the requirement is placed under performance and I think it's ok to have such performance requirement.

```
Performance
R12.1 RPP MUST NOT include a HTTP message body in the request or response when this is not necessary, for example when the required data can be transmitted using the URL and/or HTTP headers.
```

James G. Proposal to change MUST NOT to MAY NOT:
> R12.1 RPP MAY NOT include a HTTP message body in the request or response when this is not necessary, for example when the required data can be transmitted using the URL and/or HTTP headers.

IMHO this would render the sentence with a wrong meaning.

Proposal:
R12.1 In order to minimise message sizes and needed processing RPP MAY be designed not to include a HTTP message body in the request or response when this is not necessary, for example when the required data can be transmitted using the URL and/or HTTP headers.

Agree.

This would be design already but indeed we may have single-object check and multi-object (bulk) check with different RPP semantics. When mapped back to EPP they may use the same EPP CHECK command.

Fixed with [ec9624b](https://github.com/ietf-wg-rpp/rpp-requirements/commit/ec9624bf1974c6ae725195688723659cf4eb30cb)