**R8.1** Clarify the requirement for RPP to provide functional equivalents for core EPP functionalities

https://github.com/ietf-wg-rpp/rpp-requirements/blob/b19a49063a7a0cc25c26700058b2801770906482/src/draft-wullink-rpp-requirements.md?plain=1#L230

**R8.1** RPP MUST provide functional equivalents for core EPP functionalities related to domain names, hosts, and contacts as defined in [@!RFC5731], [@!RFC5732] and [@!RFC5733] mappings for core objects (domain, contact, host).

>> //MWU: this contradicts R6.7 that says a subset of EPP may be supported only?

> //PK: I guess the key is the word "core" which is not same as "all"

@mwullink If you are fine with this we may close the issue.

agreed