Allow for not supporting every EPP feature

The charter states: "The RPP WG considers functional equivalents of functionality from EPP for domain names, hosts and contacts ([RFC5730](https://datatracker.ietf.org/doc/rfc5730/), [5731](https://datatracker.ietf.org/doc/html/rfc5731), [5732](https://datatracker.ietf.org/doc/html/rfc5732), and [5733](https://datatracker.ietf.org/doc/html/rfc5733)) and mappings for data objects, operations, commands and responses."


This does not mean we need to implement every data attribute and feature available in RPP, it should be possible to not support certain less used features.



new proposal:

RPP MAY choose not to provide a direct one-to-one mapping of all EPP features and data attributes. RPP MAY omit certain EPP features or data elements if they are not relevant or are infrequently used in EPP; however, RPP MUST remain compatible with EPP to ensure interoperability between the two protocols. In particular, RPP MUST support functional equivalents for EPP for domain names, hosts, and contacts as defined in [@!RFC5731], [@!RFC5732], and [@!RFC5733]